{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>로그인</h4>
        </div>
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <!--{{ form.as_p }}는 폼에 정의한 subject, content 속성에 해당하는 HTML 코드를 자동으로 생성-->
        {{ form.as_p }}
        {% if field.errors %}
                    <span style="color:red">{{field.errors}}</span>
        {% endif %}

        <button type="submit" class="btn btn-primary" value="login">로그인</button>
    </form>
</div>
{% endblock %}
